* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    display: block;
    margin-top: 12px;
    padding: 5px 20px;
    border-radius: 12px;
    background-color: skyblue;
    border: 1px solid skyblue;
}

h1 {
    text-align: center;
    background-color: tomato;
    padding: 12px;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

.editor-container {
    width: 80vw;
    margin: 24px auto;
}