* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  min-height: 100vh;
}

.header {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #482CFF;
  justify-content: space-between;
  padding: 0 24px;
}

.header p {
  font-size: 18px;
  color: #fff;
  display: inline-block;
  text-shadow: 1px 1px 2px #fff;
}

.header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: fit-content;
  margin: 24px auto;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  width: 150px;
  height: 170px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #482CFF;
  flex-direction: column;
  gap: 24px;
  margin: 12px;
  justify-content: center;
  box-shadow: 3px 3px 4px #482CFF;
}

.btn img {
  width: 35%;
  height: 35%;
  display: block;
  margin: 0 auto;
}

.btn p {
  text-transform: capitalize;
  text-align: center;
  font-size: 17px;
  text-shadow: 1px 1px 2px #fff;
}

.btn a {
  text-decoration: none;
  color: #fff;
  transition-property: font-size;
  transition-duration: 0.2s;
  transition-delay: 0.1s;
}

.btn a:hover {
  font-size: 19px;
}

.end {
  width: 100%;
  height: 50px;
}
